.sidebar {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 1024px;
  background-color: #f2f2f2;
  margin-right: 20px;
}
.sidebar__josh {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  border: 3px solid #f2d58a;
}
.sidebar__header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
}
.sidebar__brand {
  font-family: Baloo Bhai;
  font-style: normal;
  font-weight: normal;
  font-size: 34.5px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #4f4f4f;
}
.sidebar__logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.sidebar__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.sidebar__name {
  font-family: Baloo Bhai;
  margin: 11px 0 0 0;
  width: 178px;
  height: 57px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 57px;
  color: #272572;
}
.sidebar__greeting {
  font-family: arial;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 200px;
  height: 24px;
  margin-left: 15px;
  color: #272572;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30%;
}
.sidebar__text {
  font-family: Arial;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #47466e;

}
.sideBar__logout {
  width: 141px;
  height: 48px;
  background-color: #f2d58a;
  border-radius: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  margin-top: 70px;
}
button{
  border: none;
  outline: none;
  background: none;
}
.sideBar__logout-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.sideBar__nav-img {
  color: #48466e;
}

.susan-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.girl-card {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 70%;
  height: 264px;
  position: absolute;
  left: 390px;
  top: 116px;
}
.susan-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}
.susan {
  display: flex;
  justify-content: center;
  align-items: center;
}
.susan-text {
  margin: 0;
  margin-left: 20px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.susan-rating {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.rating {
  margin: 0 40px;
}
.susan-review {
  padding: 0 200px 0 50px;
}
.extend {
  position: absolute;
  bottom: 0px;
  left: 13px;
  font-weight: bold;
  text-align: center;

}
.extend-container {
  position: relative;
  width: 40px;
  height: 40px;
  background: #f2d58a;
  border-radius: 20px;
}

.susan-review {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.38px;
}

.review-header {
  display: flex;
  position: absolute;
  top: 25px;
  left: 370px;
}
.header-txt {
  font-family: Baloo Bhai;
  color: #272572;
  margin-left: 20px;
}
.arrow-btn {
  margin: 0;
}
.see-more {
  position: absolute;
  top: 37%;
  right: 15%;
  color:#272572;
}
.down-arrow {
  color: #272572;
  position: absolute;
  top: 38%;
  right: 13%;
}
.firstrev {
  display: flex;
}